body {
    background-color: black;
    color: rgb(62, 187, 209);
}

.logo {
    background-image: url('image/cassie.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}